<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({

    // gitalk的主要参数
        clientID: `868b1a5b6c661cfe62fa`,
        clientSecret: `830cc507fdabf3086b77ee29e5b68b4ce67044e4`,
        repo: `iTreeNewBee`,
        owner: 'iTreeNewBee',
        admin: ['iTreeNewBee'],
        id: 'blogcomment',
        distractionFreeMode: true,
    
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->